@import url(style.css);
@import url(form.css);


.edit-product{

    display: flex;
    justify-content: center;
}

.edit-product-form{
    width: 60vw;
    max-width: 600px;
    min-width: 400px;
}

.edit-product-form textarea{
    resize: vertical;
    min-height: 100px;
}

#save{
    margin: 20px auto;
}
